/*
  Flair Filters

  For each filter you want to add, you will need to pick a two letter language code. This should not be a real one. Q is a good place to start, i.e. qa, qb, qc, qd, etc because no language code starts with q.
  We use reddit's localization system to implement the filter. When you go to qa.reddit.com for instance, that adds the qa language code the html tag like so <html lang="qa">. From this,
  you can target your filter's css class using `html:lang(qa) .linkflair-classname`. You can target multiple filters by adding another entry with the same language code but a different filter class.

  Adding Filter to Sidebar Menu

  To add this filter to the sidebar menu, you just add a new list item link to the subreddit with your new lang code as the subdomain: https://qa.reddit.com/r/SubRedditName in the first blockquote of the content.

  Highlighting Selected Filter in Sidebar Menu

  You just need to figure out where the menu item is located. So if its 1, 1 - aka the first item in main menu, then first item in submenu -
  you can target that with css like so: html:lang(qa) .side .md > blockquote:first-child ul li:nth-child(1) ul li:nth-child(1)
*/

html:lang(qa) .linkflair-rework, html:lang(qa) .linkflair-rework-b,
html:lang(qb) .linkflair-rework-b
{
  display: none !important;
}

html:lang(en) .side .md > blockquote:first-child ul > li:nth-child(1) > ul > li:nth-child(1),
html:lang(nm) .side .md > blockquote:first-child ul > li:nth-child(1) > ul > li:nth-child(1),
html:lang(qa) .side .md > blockquote:first-child ul > li:nth-child(1) > ul > li:nth-child(2),
html:lang(qb) .side .md > blockquote:first-child ul > li:nth-child(1) > ul > li:nth-child(3),
html:lang(qc) .side .md > blockquote:first-child ul > li:nth-child(1) > ul > li:nth-child(4)
{
  background-size: 16px 16px;
  background-image: url(%%all-guard%%);
  background-repeat: no-repeat;
  background-position: 10px 6px;
}

html:lang(en) .side .md > blockquote:first-child ul > li:nth-child(1) > ul > li:nth-child(1) *,
html:lang(nm) .side .md > blockquote:first-child ul > li:nth-child(1) > ul > li:nth-child(1) *,
html:lang(qa) .side .md > blockquote:first-child ul > li:nth-child(1) > ul > li:nth-child(2) *,
html:lang(qb) .side .md > blockquote:first-child ul > li:nth-child(1) > ul > li:nth-child(3) *,
html:lang(qc) .side .md > blockquote:first-child ul > li:nth-child(1) > ul > li:nth-child(4) *
{
  margin-left: 25px; /* so the text can create space for the all guard background image */
}
